In [31]:
import pandas as pd
import numpy as np

In [32]:
df=pd.read_csv("tough_dataset.csv",encoding='latin1')
df.head()

,id,Target A,Target B,LOAN_AMT,Business Title,Civil Service Title,Division/Work Unit,Job Description,Minimum Qual Requirements,Preferred Skills,...,purpose,title,zip_code,addr_state,dti,earliest_cr_line,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d
0,68407277,42405.00,0,3600,Account Manager,CONTRACT REVIEWER (OFFICE OF L,Strategy & Analytics,Division of Economic & Financial Opportunity (...,1.\tA baccalaureate degree from an accredited ...,â¢\tExcellent interpersonal and organizationa...,...,debt_consolidation,Debt consolidation,190xx,PA,5.91,3-Aug,19-Jan,122.67,NaN,19-Mar
1,68355089,60740.00,1,24700,"EXECUTIVE DIRECTOR, BUSINESS DEVELOPMENT",ADMINISTRATIVE BUSINESS PROMOT,Tech Talent Pipeline,The New York City Department of Small Business...,1. A baccalaureate degree from an accredited c...,NaN,...,small_business,Business,577xx,SD,16.06,Dec-99,16-Jun,926.35,NaN,19-Mar
2,68341763,51907.68,0,20000,Maintenance Worker - Technical Services-Heatin...,MAINTENANCE WORKER,Management Services Department,"Under direct supervision, assist in the routin...",1. Three years of full-time satisfactory exper...,1. A High School Diploma or GED. 2. CDL Dri...,...,home_improvement,NaN,605xx,IL,10.78,Aug-00,17-Jun,15813.30,NaN,19-Mar
3,66310712,51907.68,0,35000,Maintenance Worker - Technical Services-Heatin...,MAINTENANCE WORKER,Management Services Department,"Under direct supervision, assist in the routin...",1. Three years of full-time satisfactory exper...,1. A High School Diploma or GED. 2. CDL Dri...,...,debt_consolidation,Debt consolidation,076xx,NJ,17.06,8-Sep,19-Feb,829.90,19-Apr,19-Mar
4,68476807,35.00,1,10400,Temporary Painter,PAINTER,Dept of Management & Planning,Responsibilities of selected candidates will i...,1. Five years of full-time satisfactory experi...,NaN,...,major_purchase,Major purchase,174xx,PA,25.37,Jun-98,16-Jul,10128.96,NaN,18-Mar

In [36]:
df_x=pd.DataFrame(df.iloc[:,[False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False]])
df_x.head()

   LOAN_AMT    dti  last_pymnt_amnt
0      3600   5.91           122.67
1     24700  16.06           926.35
2     20000  10.78         15813.30
3     35000  17.06           829.90
4     10400  25.37         10128.96

In [12]:
df_y=pd.DataFrame(df.iloc[:,1:2])
df_y

      Target A
0     42405.00
1     60740.00
2     51907.68
3     51907.68
4        35.00
...        ...
2941  67757.00
2942  67757.00
2943  54100.00
2944  54100.00
2945  36390.00

[2946 rows x 1 columns]

In [37]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(df_x, df_y, test_size=0.2)

from sklearn.linear_model import LinearRegression

#from sklearn.tree import DecisionTreeRegressor 
regression=LinearRegression()
regression.fit(X_train, Y_train)

LinearRegression()

In [38]:
Y_pred_lin=regression.predict(X_test)

Y_pred_lin
Y_pred_df=pd.DataFrame(Y_pred_lin, columns=["Predicted"])

In [39]:
Y_test.head()

      Target A
2751   90114.0
2535   72038.0
1901   49591.0
1469   39838.0
1279   65783.0

In [40]:
Y_pred_df.head()

      Predicted
0  59313.068161
1  58921.152739
2  58564.368189
3  59587.097227
4  59467.323336

In [41]:
from sklearn.tree import DecisionTreeRegressor 
tree_regressor=DecisionTreeRegressor()
tree_regressor.fit(X_train, Y_train)

DecisionTreeRegressor()

In [42]:
Y_pred_tree=tree_regressor.predict(X_test)
Y_tree_pred_df=pd.DataFrame(Y_pred_tree, columns=["Predicted"])
Y_tree_pred_df.head()

   Predicted
0      73.37
1   79564.00
2   63031.00
3   43799.00
4  198518.00

In [43]:
sum_of_error_dt=0
Y_test_df=Y_test.reset_index().iloc[:,1:2]
Y_test_df.index

for i in Y_tree_pred_df.index:
    sum_of_error_dt=sum_of_error_dt+((Y_tree_pred_df.loc[i]["Predicted"]-Y_test_df.loc[i]["Target A"])**2)
print(sum_of_error_dt)

950631788555.207

In [44]:
sum_of_error_lr=0
for i in Y_pred_df.index:
    sum_of_error_lr=sum_of_error_lr+((Y_pred_df.loc[i]["Predicted"]-Y_test_df.loc[i]["Target A"])**2)
print(sum_of_error_lr)

448252817164.99036

In [52]:
from sklearn.metrics import mean_squared_error 
realVals = Y_test
predictedVals = Y_pred_lin
rmse_lin = mean_squared_error(realVals, predictedVals, squared = False)
print(rmse_lin)

27563.572656094137

In [56]:
df_y_new=pd.DataFrame(df.iloc[:,2:3])
df_y_new.head()

   Target B
0         0
1         1
2         0
3         0
4         1

In [57]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(df_x, df_y_new, test_size=0.2)

In [58]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(X_train, Y_train)

DecisionTreeClassifier()

In [59]:
Y_test.head()

      Target B
1348         0
1987         0
796          0
2833         0
1863         0

In [60]:
y_pred=classifier.predict(X_test)

Y_pred_df=pd.DataFrame(y_pred, columns=["Predicted"])
Y_pred_df.head()

   Predicted
0          0
1          0
2          0
3          0
4          0

In [61]:
from sklearn.metrics import mean_squared_error 
realVals = Y_test
predictedVals = Y_pred_df
rmse_dc = mean_squared_error(realVals, predictedVals, squared = False)
print(rmse_dc)

0.5836762511030366

In [62]:
from sklearn.metrics import f1_score
f1_score(Y_test, Y_pred_df, average='macro')

0.5000653426696063